#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet lyft schlitz lumbersexual +1 mixtape chartreuse chia snackwave locavore lo-fi blog lomo. Synth flannel cold-pressed copper mug. Vaporware migas forage mixtape kickstarter cred freegan kombucha salvia. Farm-to-table vape fingerstache blue bottle meditation lomo, narwhal ugh echo park bushwick. Shaman air plant mumblecore, narwhal taxidermy mixtape semiotics af mustache.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %buttom= link_to "Join Now", new_user_registration_path

